* {
	font-family: 'Lato', sans-serif;
	color: #546474;
	font-size: 15px;
}

body {
	background-color: #f5f5f5;
}

header {
	min-height: 60px;
	background-color: #2c435d; 
}

#todo-list .top-line {
	margin-top: 30px;
	margin-bottom: 30px;
}

#todo-list h1 {
	margin-left: 10px;
	font-size: 35px;
	font-weight: 800;
}


#todo-list .pull-right {
    float: right !important
}

#todo-list button {
	margin-right: 5px; 
}

#todo-list .card {
	border-radius: 5px;
	box-shadow: 0px 1px rgba(0,0,0,.125);
}

#todo-list .todo-item {
	min-height: 200px;
	margin: 10px; 
	background-color: white;
}

#todo-list .todo-item i {
	position: absolute;
	right: 2%;
	top:7%;
	color:#778a9d;
}

#todo-list .todo-item .todo-text {
    border-style: none; 
    border-color: Transparent;
    resize: none; 
    overflow: auto;
	width: 100%;
	min-height: 250px;
	text-align: left;
}

#todo-list .todo-item textarea {
	padding-top: 16px;
	padding-left: 18px;
	color: #778a9d;
	font-weight: 600;
	letter-spacing: 1px;
	border-radius: 5px;
}

#todo-list .alert {
	position: absolute;
	min-width: 500px;
	top:55%;
	right:7%;
}




